<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <h3>New Guerrilla</h3>
  <hr />
  <form [formGroup]="guerrillaForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    
    <div class="form-group row">
        <label class=" control-label col-md-12" for="Name">Name</label>
        <div class="col-md-4">
          <input class="form-control" type="text" formControlName="Name">
        </div>
        <span class="text-danger" *ngIf="guerrillaForm.hasError('required', 'Name') && formDir.submitted">
          Name is required.
        </span>
        </div>

        <div class="form-group row">
          <label class=" control-label col-md-12" for="Email">Email</label>
          <div class="col-md-4">
            <input class="form-control" type="text" formControlName="Email">
          </div>
          <span class="text-danger" *ngIf="guerrillaForm.hasError('required', 'Email') && formDir.submitted">
            Email is required.
          </span>
        </div>

      <div class="form-group row">
        <label class=" control-label col-md-12" for="Faction">Faction</label>
        <div class="col-md-4">
          <select class="form-control" formControlName="Faction">
            <option value="USMC">USMC</option>
            <option value="China">China</option>
            <option value="MEC">MEC</option>
          </select>
        </div>
      </div>     

      <div class="form-group">
        <button type="submit" class="btn btn-outline-success">Save</button>
        <button class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</form>
</body>
</html>
