<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <p *ngIf="!rankingList"><em> Loading....</em> </p>
  <p>
  </p>
  <h2> Ranking </h2>
  <table class='table table-striped table-dark' *ngIf="rankingList">

    <thead class="table table-hover table-dark">
      <tr>

        <th>Rank</th>
        <th>Company</th>
        <th></th>

      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let guerrilla of rankingList">
        <td>{{ guerrilla.rank  }}</td>
        <td>{{ guerrilla.guerrillaName }}</td>
        <td>
          <a id="Attack" [routerLink]="['/attack/',guerrilla.guerrillaName]"> Attack </a>
        </td>

      </tr>
    </tbody>
  </table>
</body>
</html>
